*{
  margin: 0px;
  padding: 0px;
}
.body {
  font-family: Franklin Gothic Medium;
  background-color: #0081A7;
  min-height: 100vh;
  font-size: 14pt;
  display: flex;
  flex-direction: row;
}
ul{
  display: flex;
  z-index: 1;
  height: max-content;
}
.navbar{
  width: 100%;
  height: max-content;
  z-index: 1;
  background-color: rgba(254, 217, 183, 0.3);
  display: flex;
  justify-content: space-between;
  /* background-color: red; */
}

ul li a {
  position: relative;
  z-index: 1;
  transition: color 0.1s;
}

ul li{
  padding: 10px;
  position: relative;
  list-style: none;
  cursor: pointer;
  color: white;
  z-index: 1;
  margin: 0px 10px;
  font-weight: bold;
  transition: color 0.2s;
  text-align: center;
  /* background: green; */
}

ul li:before {
  content: "";
  background-color: #FDFCDC;
  position: absolute;
  border-radius: 0px 0px 10px 10px;
  top: 0px;
  z-index: 1;
  left: 0px;
  width: 100%;
  height: 10%;
  transition: height 0.2s;
}
ul li:hover:before{
  height: 100%;
}
ul li:hover{
  color: #0081A7;
}

/* icon and discord social */
.discord{
  color: white;
  padding: 10px 20px;
  justify-content: center;
  /* background-color: red; */
  color: white;
  cursor: pointer;
  transition: color 0.2s;
  z-index: 1;
  display: flex;
  position: relative;
  font-weight: bold;
}
.discord:before{
  content: "";
  position: absolute;
  right: 0px;
  top: 0px;
  z-index: -1;
  transition: width 0.2s, background-color 0.2s;
  height: 100%;
  width: 5%;
  border-radius: 10px 0px 0px 10px;
  position: absolute;
  background-color: #FDFCDC;
}
.discord:hover:before{
  width: 100%;
  background-color: #1e2124;
}
.discord:hover{
  color: #7289da;
}

.icon{
  color: white;
  padding: 10px 20px;
  justify-content: center;
  /* background-color: red; */
  color: white;
  cursor: pointer;
  transition: color 0.2s;
  z-index: 1;
  display: flex;
  position: relative;
  font-weight: bold;
}
.icon:before{
  content: "";
  position: absolute;
  left: 0px;
  top: 0px;
  z-index: -1;
  transition: width 0.2s, background-color 0.2s;
  height: 100%;
  width: 5%;
  border-radius: 0px 10px 10px 0px;
  position: absolute;
  background-color: #FDFCDC;
}
.icon:hover:before{
  width: 100%;
  background-color: #405DE6;
}
.icon:hover{
  color: #FFDC80;
}